---
import { Image } from "astro:assets";
import Icon from "@/components/ui/icons/Icon.astro";
import imgVolounteerOne from "@images/volunteer_1.jpg";
import imgVolounteerTwo from "@images/volunteer_2.jpg";

const { title, subTitle, benefits } = Astro.props;

interface Benefit {
  icon: string;
  title: string;
  subTitle: string;
}

interface Props {
  title: string;
  subTitle?: string;
  benefits?: Array<Benefit>;
}
---

<section
  class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 2xl:max-w-full"
>
  <!-- Grid -->
  <div class="lg:grid lg:grid-cols-12 lg:items-center lg:gap-16">
    <div class="lg:col-span-7">
      <!-- <Image class="rounded-xl" src={product5} alt="Mockup of floating boxes" /> -->
       <div class="mt-8 grid grid-cols-2 gap-4">
        <Image
          class="w-full rounded-xl"
          src={imgVolounteerOne}
          alt="Volontaires lors de l'édition 2024 des Chemins du Mélantois"
          draggable={"false"}
          format={"avif"}
        />
        <Image
          class="mt-4 w-full rounded-xl lg:mt-10"
          src={imgVolounteerTwo}
          alt="Volontaires lors de l'édition 2024 des Chemins du Mélantois"
          draggable={"false"}
          format={"avif"}
        />
      </div>
    </div>
    <div class="mt-5 sm:mt-10 lg:col-span-5 lg:mt-0">
      <div class="space-y-6 sm:space-y-8">
        <div class="space-y-2 md:space-y-4">
          <h2
            class="text-3xl font-bold text-balance text-neutral-800 lg:text-4xl dark:text-neutral-200"
          >
            {title}
          </h2>
          {
            subTitle && (
              <p class="text-pretty text-neutral-600 dark:text-neutral-400">
                {subTitle}
              </p>
            )
          }
        </div>
        {
          benefits && (
            <ul class="space-y-2 sm:space-y-4">
              {benefits.map((item) => (
                <li class="flex space-x-3">
                  <Icon name={item.icon} />
                  <span class="text-base font-medium text-pretty text-neutral-600 dark:text-neutral-400">
                    <span class="font-bold">{item.title}</span> : {item.subTitle}
                  </span>
                </li>
              ))}
            </ul>
          )
        }
      </div>
    </div>
  </div>
</section>
