---
// Import the necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import HeroSection from "@components/sections/landing/HeroSection.astro";
import HeroSectionAlt from "@components/sections/landing/HeroSectionAlt.astro";
import ClientsSection from "@components/sections/landing/ClientsSection.astro";
import FeaturesGeneral from "@components/sections/features/FeaturesGeneral.astro";
import FAQ from "@components/sections/misc/FAQ.astro";
import heroImage from "@images/hero-image.webp";
import faqs from "@data/fr/faqs.json";
import features from "@data/fr/features.json";
import { externalLinks, partnersData, routes, SITE } from "@/data_files/constants";
import FeaturesStats from "@/components/sections/features/FeaturesStats.astro";
---

<MainLayout lang="fr">
  <HeroSection
    title=`Bienvenue aux chemins du <span class="text-orange-400 dark:text-yellow-400">Mélantois</span>`
    subTitle="L'édition 2025 des Chemins du Mélantois est ouverte aux inscriptions ! Venez découvrir nos parcours de course et de vélo pour cette 14ème édition consécutive."
    primaryBtn="Inscription"
    primaryBtnURL={externalLinks.registration}
    primaryBtnOpenInNewTab={true}
    secondaryBtn="Courses"
    secondaryBtnURL={routes.races}
    src={heroImage}
    alt="Pile de boîtes de produits ScrewFast contenant des outils matériels assortis"
  />

  <FeaturesStats
    title="Par les chiffres"
    subTitle="Cet évènement est organisé par l’association « Les chemins du Mélantois » sous l’impulsion des communes de Sainghin-en-Mélantois et Péronne-en-Mélantois, \
    et est entièrement bénévole. Il a pour but de promouvoir la pratique du sport en milieu naturel, de faire découvrir le Mélantois et de récolter des fonds pour des associations locales."
    mainStatTitle="3200"
    mainStatSubTitle="participants depuis sa création"
    stats={[
      {
        stat: "14ème",
        description: "édition depuis 2011",
      },
      {
        stat: "5",
        description: "formats disponible",
      },
      {
        stat: "10min",
        description: "en voiture depuis Lille",
      },
    ]}
  />

  <ClientsSection
    title="Un grand merci à nos partenaires"
    partners={partnersData}
  />

  <FeaturesGeneral
    title="Découvrez nos 5 courses"
    subTitle="Cette édition 2025 propose notre format habituel de cinq courses variées, parfait pour un événement familial où chacun peut venir et courir ensemble."
    src={heroImage}
    alt="Produits ScrewFast dans des boîtes flottantes"
    features={features}
    callToActionLabel="Détails des courses"
    callToActionLink={routes.races}
  />

  <FAQ title="Questions fréquemment posées" faqs={faqs} />

  <HeroSectionAlt
    title="Inscrivez-vous dés maintenant"
    subTitle="Lorem ipsum dolor sit amet, consectetur adipiscing elit."
    url={externalLinks.registration}
    btnTitle="Inscription"
  />
</MainLayout>
